html {
   box-sizing: border-box;
}

*,
*::after,
*::before {
   box-sizing: inherit;
 }

div {
  background-color: #94B49F;
   margin: auto;
 }

 .skill-row {
   width: 50%;
   margin: 100px auto;
   line-height: 2;
 }

 .me {
   width: 500px;
   height: 500px;
 }

 .mountain {
   margin-bottom: 150px;
 }

  .code {
   min-width: 15%;
   min-height: 15%;
   max-width: 20%;
   max-height: 20%;
   float: left;
   margin-right: 30px;
 }

 .jogging {
   min-width: 15%;
   min-height: 15%;
   max-width: 20%;
   max-height: 20%;
   float: right;
 }

 .skills {
   text-align: left;
   max-width: 1000px;
 }


h1, h2 {
   color: #463f89;
}

h3, a {
   color: #ac2ca4;
}

 h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5.5rem;
    margin: 50px auto -10px;

 }

 h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
 }

 h3 {
    font-family: 'Montserrat', sans-serif;
   
 }


 .pro {
    text-decoration: underline;
 }

 .top {
    padding-top: 50px;
    position: relative;
 }

 body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #94B49F;
 }

 .bottom-cloud {
    position: absolute;
 }

 .top-cloud {
    position: relative;
    left: 200px;
    top: 20px;
 }