html {
   box-sizing: border-box;
}

*,
*::after,
*::before {
   box-sizing: inherit;
 }

div {
   margin: auto;
 }

 .skill-row {
   width: 50%;
   margin: 100px auto;
   line-height: 2;
 }

 .me {
   margin-top: 50px;
   width: 250px;
   height: 250px;
 }

 .mountain {
   margin-bottom: 150px;
 }

  .code {
   min-width: 15%;
   min-height: 15%;
   max-width: 20%;
   max-height: 20%;
   float: left;
   margin-right: 30px;
 }

 p {
   max-width: 500px;
   margin: auto;
 }

 .jogging {
   min-width: 15%;
   min-height: 15%;
   max-width: 20%;
   max-height: 20%;
   float: right;
 }

 .skills {
   text-align: left;
   max-width: 1000px;
 }


h1, h2 {
   color: #463f89;
}

h3, a {
   color: #ac2ca4;
}

 h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5.5rem;
    margin: 50px auto -10px;

 }

 h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 50px;
 }

 h3 {
    font-family: 'Montserrat', sans-serif;
    margin: 60px;
   
 }


 .pro {
    text-decoration: underline;
 }

 .top {
    padding-top: 50px;
    position: relative;
    background-color: #def4f4;
 }

 body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40541E;
 }

 .bottom-cloud {
    position: absolute;
    left: 100px;
 }

 .dot-border {
   color: #a8a8a8;
   font-size: 80px;
   margin: auto;
 }

 .top-cloud {
    position: relative;
    left: 300px;
    top: 20px;
 }
 .intro {
   margin-top: 50px;
 }

 .skills-jog {
   margin-bottom: -50px;
 }

 .btn {
   margin: 50px auto 0;
   background: #3498db;
   background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
   background-image: -moz-linear-gradient(top, #3498db, #2980b9);
   background-image: -ms-linear-gradient(top, #3498db, #2980b9);
   background-image: -o-linear-gradient(top, #3498db, #2980b9);
   background-image: linear-gradient(to bottom, #3498db, #2980b9);
   -webkit-border-radius: 28;
   -moz-border-radius: 28;
   border-radius: 28px;
   text-shadow: 1px 1px 3px #666666;
   font-family: Arial;
   color: #ffffff;
   font-size: 21px;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
 }
 
 .btn:hover {
   background: #3cb0fd;
   background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
   background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
   background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
   background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
   background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
   text-decoration: none;
 }

 .bottom-container {
   background-color: #66BFBF;
   padding: 30px;
   margin: 130px auto 0px;
 }

.name {
   margin-top: 30px;
}

.footer-link {
   margin: 0 60px;
}